@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #333;
  --transition: 400ms all linear;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);

  color: #fff;
}


header {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
